body {
  font-family: "Microsoft Yahei";
  overflow-x: hidden;
  
}

h2 {
    font-weight: bold;
}
.btn:active:focus, .btn:focus {
    outline: none;
}
a:link {
  text-decoration: none;
  color: #333;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
   text-decoration: none;
}
a:active { 
      color:#fff; 
      text-decoration:none; 
} 
.fz35 {
    font-size: 35px;
}
.fz20 {
    font-size: 20px;
}
.gary-color {
    color:#AAB1BC
}
.blue-color {
    color:#3573F8;
}
.mgtp100 {
    margin-top: 100px;
}
.mgbt60 {
  margin-bottom: 60px;
}
p {
  line-height: 1.5;
}
.navbar-brand {
  background: url("../image/logo.png") no-repeat center center;
  background-size: contain;
  padding: 36px 86px;
}

.footer {
  margin-top: 100px;
  padding:100px 0;
  background-color: #171717;
}
.footer,.footer p a {
    color: #AAB1BC;
    font-size: 20px;
}
.backtop {
  width: 62px;
  height: 62px;
  color: #fff;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 9;
  background-color: #3790ff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  background-image: url("../image/top.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

 .navbar-default {
  background-color: transparent;
  border-color: transparent;
  z-index: 3;
}
.container {
  position: relative;
  z-index: 2;
}
.bg {
  height: 1209px;
  width: 100%;
  background-color: #3970f8;
  box-shadow: 0px 11px 86px 6px rgba(57, 112, 248, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(353deg);
  -webkit-transform: skewY(353deg);
}
.bg1 {
  background-color: #3970f8;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.row1,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  font-size: 22px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li {
  margin-right: 100px;
}
.navbar-default .navbar-nav > li:last-child {
  margin-right: 0px;
}
.navbar-default {
    padding-top: 70px;
}
.navbar-default .navbar-nav > li.active a {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav > li.active a:hover {
    background-color: transparent;
    color: #fff;
}
.btn-white-active {
    background: #FFFFFF;
    box-shadow: 0px 18px 26px 1px rgba(41, 171, 226, 0.67);
    border-radius: 22px;
    height: 64px;
    color: #3B89F8;
    font-size: 20px;
    font-weight: bold;
}

.btn-white-active.btn-white-active1 {
    background-color: transparent;
    color: #fff;
    box-shadow:none
}
.btn-white-active:hover{
    background-color: #fff;
    color:#3B89F8;
    border-color:#fff;
   
}
.line {
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 196px;
    margin: 30px 0;
}
.item1,.item2 {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px #dcdcdc;
}
.item1  {
  margin-bottom: 60px;
}
.item1 img {
    display: block;
    margin: 20px auto;
}
.item2 h2 {
    color:#3573F8;
}
.item3 {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px #dcdcdc;
    font-size: 18px;
    color: #3573F8;
    font-weight: 500;
    margin-bottom: 60px;
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a
 {
    background-color: transparent;
    color: #fff;
    
}
.Subscribe {
    display: flex;
    height: 511px;
    color: #fff;
    background-color: #3970f8;
}
.Subscribe > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Subscribe .form-inline {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.item_1 > div {
  
  margin-bottom: 60px;
  
}
.bordertop {
    border-top:1px solid #ccc
}
#MetaPay_anchor,#MetaNFT_anchor,#MetaDAO_anchor,#Metatoken_anchor {
    padding-top: 100px;
}
footer .row .col-md-10 {
  text-align: center;
}
.navbar-default {
  border-radius: 0;
  transition: .3s;
}
.navbar-default .navbar-toggle {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:#3970f8;
}
.sticky {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .07);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #3970f8;
  transition: .3s;
}
.sticky.navbar-default {
  padding-top: 0;
}